:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* react-code-block */
.table-cell {
  display:table-cell;
}
.table-row {
  display:table-row;
}

/* body {
  background-image: linear-gradient(to bottom right, pink, violet, skyblue);
} */

@media (max-width: 991.5px) {
  .show-sm {
    display: none !important;
  }
  .hide-sm {
    display: block !important;
  }
}

.text-justify {
  text-align: justify;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.overflow-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}