.navbar-trans {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(30px)!important;
  -webkit-backdrop-filter: blur(30px)!important;
}

main {
  margin-top: 65px;
  min-height: 100vh;
}